{% extends "layouts/journey.njk" %}

{% from "casa/components/checkboxes/macro.njk" import casaGovukCheckboxes with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
  {{ t('beths-page:pageTitle') }}
{% endblock %}

{% block journey_form %}
    <p class="govuk-heading-xl">
        WELCOME TO THE PAGE FOR JUST THE BADDIES OF THE WORLD  
    </p>
  {{ casaGovukCheckboxes({
    name: "foodBoxes",
    casaErrors: formErrors,
    casaValue: formData.foodBoxes,
    fieldset: {
      legend: {
        text: t('beths-page:field.foodBoxes.label'),
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: t('beths-page:field.foodBoxes.hint')
    },
    items: [{
      value: "sushi",
      text: t('beths-page:field.foodBoxes.options.sushi')
    },{
      value: "burger",
      text: t('beths-page:field.foodBoxes.options.burger')
    }, {
      value: "pasta",
      text: t('beths-page:field.foodBoxes.options.pasta')
    }, {
      value: "curry",
      text: t('beths-page:field.foodBoxes.options.curry')
    }]
  }) }}

  {{ casaGovukRadios({
    classes: "govuk-radios--inline",
    name: 'slayRadios',
    items: [{
      text: t('common:yes'),
      value: 'yes'
    }, {
      text: t('common:no'),
      value: 'no'
    }],
    casaValue: formData.slayRadios,
    fieldset: {
        legend: {
          text: t('beths-page:field.slayRadios.label'),
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
    casaErrors: formErrors
  }) }}

{% endblock %}